<body>
    <h1>Salve a imagem que deseja</h1>

<form action="/add" method="post" enctype="multipart/form-data">
    <label for="image">Selecione a imagem</label>
    <input type="file" id="image" name="image" accept="image/*">

    <button type="submit">Enviar</button>
</form>
</body>