<h1>Bem vindo, {{username}}</h1>
<h1>Adicione uma imagem</h1>
<p>Clique <a href="/add"> aqui</a> para ir para o upload de imagens</p>

<h2> Operações de usuário</h2>
<ul>
    <li><a href="/users/list">Listar</a></li>
    <li><a href="/users/add">Criar</a></li>
</ul>